@model UltimaPrueba.Models.Abono

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/abonocreatestyle.css" rel="stylesheet" />
    <link href="~/css/carruselstyle.css" rel="stylesheet" />
</head>

<div class="container-create">

    <h1>Registrar Abono</h1>

    <div class="container-form-create-abono">

        <form asp-action="Crear" asp-controller="Abono" method="post" id="abonoForm" enctype="multipart/form-data">

            <input type="hidden" asp-for="IdAbono" />
            <input type="hidden" asp-for="IdReserva" value="@ViewBag.reservaId">

            <div class="info-pendiente mb-4 d-sm-flex borde p-4 mt-4">

                <div class="item-deuda d-sm-flex">

                    <label class="form-label">Valor Deuda</label>
                    <input type="text" id="inputDeuda" class="form-control form-control-sm" value="" asp-for="ValorDeuda" readonly />

                </div>

                <div class="item-pendiente d-sm-flex">

                    <label class="form-label">Pendiente</label>
                    <input type="text" id="inputPendiente" class="form-control form-control-sm" value="" asp-for="Pendiente" readonly />

                </div>

            </div>

            <div class="info-reserva mb-4 borde p-4">

                <div class="info-paquete mb-4">
                    <h5>Paquetes</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre del Paquete</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@ViewBag.PaqueteReserva.oPaquete.NomPaquete</td>
                                <td>
                                    @{
                                        double costoConDescuento = ViewBag.PaqueteReserva.Precio * (1 - (ViewBag.Reserva.Descuento / 100));
                                        string costoFormateado = string.Format("{0:C0}", costoConDescuento);
                                    }
                                    <span> @costoFormateado</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="info-servicios">
                    <h5>Servicios Adicionales</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre del Servicio</th>
                                <th>Tipo de Servicio</th>
                                <th style="text-align: center;">Cantidad</th>
                                <th style="text-align: center;">Costo Individual</th>
                                <th style="text-align: center;">Costo Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detalleServicio in (List<DetalleReservaServicio>)ViewBag.ServiciosReserva)
                            {
                                var costoTotal = detalleServicio.Cantidad * (detalleServicio.Precio * (1 - (ViewBag.Reserva.Descuento / 100)));
                                <tr>
                                    <td>@detalleServicio.oServicio.NomServicio</td>
                                    <td>@detalleServicio.oServicio.oTipoServicio.NombreTipoServicio</td>
                                    <td style="text-align: center;">@detalleServicio.Cantidad</td>
                                    <td style="text-align: center;">@String.Format("{0:C0}", (detalleServicio.Precio * (1 - (ViewBag.Reserva.Descuento / 100))))</td>
                                    <td style="text-align: center;">@String.Format("{0:C0}", costoTotal) </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="abono-form borde p-4 d-sm-flex">

                <div>

                    <div class="item-abono-form d-sm-flex mb-4">

                        <label class="form-label">Fecha Abono</label>
                        <input type="text" id="inputFechaAbono" class="form-control form-control-sm" asp-for="FechaAbono" />

                    </div>

                    <div class="item-abono-form d-sm-flex mb-4">

                        <label class="form-label">Sub Total</label>
                        <div class="item-abono-form">
                            <input type="text" id="inputSubTotal" class="form-control form-control-sm" oninput="formatoSubTotal(this)" onkeyup="calcularInfoTotal(this)" asp-for="SubTotal" />
                            <span class="text-danger">@Html.ValidationMessage("subTotal")</span>
                        </div>

                    </div>

                    <div class="item-abono-form d-sm-flex mb-4">

                        <label class="form-label">Iva</label>
                        <input type="text" id="inputIva" class="form-control form-control-sm" asp-for="Iva" readonly />

                    </div>

                    <div class="d-sm-flex abonado mb-4">
                        <div class="abonado d-sm-flex">

                            <label class="form-label">Total Abonado</label>
                            <input type="text" id="inputTotalAbonado" class="form-control form-control-sm" asp-for="CantAbono" readonly />

                        </div>

                        <div class="d-sm-flex porcentaje-container">

                            <label class="form-label">Porcentaje Abonado</label>

                            <div class="d-sm-flex porcentaje">
                                <input type="text" id="inputPorcentaje" class="form-control form-control-sm" asp-for="Porcentaje" style="min-width:40px" readonly />
                                <span class="input-group-text">%</span>
                            </div>

                        </div>
                    </div>

                </div>

                <div>

                    <div class="container-slide">
                        <i id="imagenesSlider">
                            <input checked type="radio" name="s" style="background-image: url('/Imagenes/Default/no-image.jpg');">
                        </i>
                    </div>


                    <div class="input-image mt-3">
                        <label>Imagenes</label>
                        <input type="file" name="Imagenes" id="inputImagenes" class="form-control" />
                    </div>

                </div>

            </div>

            <input type="hidden" value="true" asp-for="Estado" />

        </form>

        <div class="mb-2 buttons">

            <button class="btn btn-primary btn-sm button-submit" onclick="prepararYEnviar()">Crear</button>

            <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Abono" asp-route-reservaId="@ViewBag.reservaId">Volver</a>

        </div>

    </div>

</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/metodosscript.js"></script>
<script src="~/js/abonoscript.js"></script>
<script src="~/js/fechahoy.js"></script>


<script>
    var Error = '@ViewData["Error"]';

    if (Error = "true") {
        $('#inputSubTotal').val('');
        $('#inputIva').val('');
        $('#inputTotalAbonado').val('');
        $('#inputPorcentaje').val('');
    }

    var deudaFormatoMoneda = formatearMoneda(@ViewData["total"])
    var pendienteFormatoMoneda = formatearMoneda(@ViewData["pendiente"])

    $('#inputDeuda').val(deudaFormatoMoneda)
    $('#inputPendiente').val(pendienteFormatoMoneda)

    function calcularInfoTotal(input) {

        var subTotalValue = convertirMonedaAFloat($(input).val());
        var deuda = $('#inputDeuda').val();
        var deudaFloat = convertirMonedaAFloat(deuda);
        var iva = Math.round(subTotalValue * 0.19);
        var total = subTotalValue + iva;
        var porcentaje = Math.floor((100 * subTotalValue) / deudaFloat);

        if (!isNaN(subTotalValue)) {

            if (subTotalValue > deudaFloat) {
                porcentaje = 100
            }

            $('#inputIva').val(formatearMoneda(iva));
            $('#inputTotalAbonado').val(formatearMoneda(total));
            $('#inputPorcentaje').val(porcentaje);

        } else {

            $('#inputIva').val('');
            $('#inputTotalAbonado').val('');
            $('#inputPorcentaje').val('');

        }

    };

</script>